@import "bootstrap";

body{
    font: 14px/18px 'OpenSans',sans-serif;

}
.header-wrapper{
    width: 100%;
    height: 56px;
    background: #000;
}
.nav-link{
    padding-top:0px;
    padding-bottom: 0px;
}
.nav-item{
    border:2px solid transparent;
}
.container{
    padding: 0;
    max-width: 70%;
}
.nav-item {
    a{
    color:#23b7a4;
    text-transform: uppercase;
    text-decoration: none;
    }   
}
.nav-item:hover{
    border:2px solid #5b6168;
    border-radius: 4px;
}
.nav-item:active{
    border:2px solid #23b7a4;
}
.logo {
    img{
    position: absolute;
    }
}

.content-text {
    width: 100%;
}
.text{
    padding-top:100px;
    margin: auto;
    width: 70%;
}
.text {
    p{
    padding-left:10px;
    font-size: 35px;
    border-left:10px solid #ccc;
    }
} 

.blocks{
    padding-top:80px;
    margin: auto;
    width: 70%;
    h1{
        color:#000;
        margin-bottom: 25px;
        text-align: center;
        font-size: 17px;
        text-transform: uppercase;
    }
    p{
        font-size: 16px;
        color:#8d8f92;
    }
    
    
}
.bg-clock{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url('../img/sprites.png') -10px -10px;
    margin-bottom: 30px;
}
.bg-cogs {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url('../img/sprites.png') -78px -10px;
    margin-bottom: 30px;
}

.bg-mobile {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url('../img/sprites.png') -10px -78px;
    margin-bottom: 30px;
}
.bg-pencil {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url('../img/sprites.png') -78px -78px;
    margin-bottom: 30px;
}



.item{
    padding-bottom:30px;
    text-align: center;
    img{
        padding-bottom:30px; 
         
    }
}
